@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


:root {
  --background: #f8fafc;
  /* Surface */
  --foreground: #1e293b;
  /* Slate 800 for text */
  --primary: #1e3a8a;
  /* Deep Navy */
  --accent: #3b82f6;
  /* Professional Blue */
  --surface: #f8fafc;
  /* Light Gray/White */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-surface: var(--surface);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}